data/*
model/*
week2/.ipynb_checkpoints/*
week3/.ipynb_checkpoints/*
week3/.ipynb_checkpoints/Lecture_3_churn_prediction-checkpoint.ipynb
week4/.ipynb_checkpoints/*
week5/.ipynb_checkpoints/*
week5/model_C=1.0.bin
week5/__pycache__/
week5/customer.JSON
week6/.ipynb_checkpoints/Lecture_6_Decision_Trees_Ensemble_Learning-checkpoint.ipynb
week6/.ipynb_checkpoints/
week7_midterm-project/.ipynb_checkpoints/*
week7_midterm-project/__pycache__/*
week7_midterm-project/xgb*
week7_midterm-project/RandomForest*
week7_midterm-project/RandomForest__n_est=190_max_depth=30_min_sample_weight=3.000.bin
week7_midterm-project/RandomForest__n_est=220_max_depth=50_min_sample_weight=7.000.bin
week7_midterm-project/xgb_n_est=250_eta=0.004_gamma=0.015_alpha=0.000_max_depth=35_min_child_weight=11.000.bin
week8/xception*
week8/cnn_*
week8/.ipynb_checkpoints/*
week9/dogs_cats_10_0.687.h5
week9/*.tflite
week9/clothing-model.tflite
week9/__pycache__/*
week9/.ipynb_checkpoints/*
week9/.ipynb_checkpoints/*
week9/homework/__pycache__/*
week10/.ipynb_checkpoints/*
week10/clothing_model/*
week10/__pycache__/
week10/clothing-model/saved_model.pb
week10/ping/__pycache__/
week11/istio-1.9.0/*
week11/.ipynb_checkpoints/
week11/quick_install.sh
appendix/bento_ml/__pycache__/*
appendix/bento_ml/.ipynb_checkpoints/*
appendix/bento_ml/CreditScoring.csv.1
appendix/bento_ml/CreditScoring.csv.2
appendix/bento_ml/CreditScoring.csv.3
__pycache__/
