data/*
model/*
week2/.ipynb_checkpoints/*
week3/.ipynb_checkpoints/*
week3/.ipynb_checkpoints/Lecture_3_churn_prediction-checkpoint.ipynb
week4/.ipynb_checkpoints/*
week5/.ipynb_checkpoints/*
week5/model_C=1.0.bin
week5/__pycache__/
week5/customer.JSON
week6/.ipynb_checkpoints/Lecture_6_Decision_Trees_Ensemble_Learning-checkpoint.ipynb
week6/.ipynb_checkpoints/
midterm-project/.ipynb_checkpoints/*
